<footer class="footer">
  <div class="wrap footer-row">
    <p>© {{date format="YYYY"}} {{@site.title}}. {{t "all rights reserved. proudly built in copenhagen."}}</p>
    <p>neo-brutalics theme by thomas @ <a href="https://intelfy.dk">intelfy</a>. {{t "special thanks to"}} <a href="https://lottiefiles.com">Lottiefiles. {{t "powered by"}} <a href="https://ghost.org">Ghost.org</a></p>
  </div>
</footer>
