<section class="posts">
  <div class="post-grid">
    {{#foreach posts}}
      <article class="card nb-shadow">
        {{#if feature_image}}
          <img class="card-image nb-shadow-xs" src="{{img_url feature_image size="m"}}" alt="{{title}}"/>
        {{/if}}
        <h3 class="card-title"><a href="{{url}}">{{title}}</a></h3>
        <p class="card-meta">{{date}}</p>
      </article>
    {{/foreach}}
  </div>
  <div class="pagination-wrap">{{pagination}}</div>
</section>
